/* By Abdullah As-Sadeed */

:root {
  --crust: #11111b;
  --mantle: #181825;
  --base: #1e1e2e;

  --surface0: #313244;
  --surface1: #45475a;
  --surface2: #585b70;

  --overlay0: #6c7086;
  --overlay1: #7f849c;
  --overlay2: #9399b2;

  --subtext0: #a6adc8;
  --subtext1: #bac2de;
  --text: #cdd6f4;

  --lavender: #b4befe;
}

* {
  box-sizing: border-box;
  outline: none;
  scroll-behavior: smooth;
}

html,
body {
  margin: 0rem;
  padding: 0rem;
}

body {
  border: 1px solid var(--surface0);
  background-color: var(--base);
  line-height: 1.5;
  text-align: center;
  font-family: system-ui, sans-serif;
  color: var(--text);
}

header {
  border-bottom: 1px solid var(--surface0);
  background-color: var(--mantle);
  padding: 4rem 1rem;
}

header h1 {
  margin: 0rem;
  color: var(--lavender);
}

section {
  display: inline-block;
  margin: 4rem;
  vertical-align: middle;
  border: 1px solid var(--surface0);
  background-color: var(--mantle);
  border-radius: 1rem;
  padding: 2rem;
}

@media (max-width: 768px) {
  section {
    margin: 4rem 0rem 4rem 0rem;
  }
}

section h2 {
  margin-bottom: 2rem;
  padding: 0rem;
  color: var(--lavender);
}

section audio,
section video {
  border: 1px solid var(--surface0);
  border-radius: 1rem;
}

section canvas {
  display: none;
  margin-top: 2rem;
  width: 100%;
  border: 1px solid var(--surface0);
  background: transparent;
  border-radius: 1rem;
}

section table {
  margin: 2rem 0rem 1rem 0rem;
  text-align: left;
}

section table tr th,
section table tr td {
  padding-bottom: 1rem;
}

section div {
  display: flex;
  flex-direction: row;
}

section div span {
  display: inline-block;
  flex: 1;
}

section div span a {
  color: var(--text);
  transition: color 0.2s;
}

section div span a:hover,
section div span a:focus {
  color: var(--lavender);
}

footer {
  border-top: 1px solid var(--surface0);
  background-color: var(--mantle);
  padding: 2rem 1rem;
  color: var(--text);
}

footer a {
  text-decoration: none;
  color: var(--text);
  transition: color 0.2s;
}

footer a:hover,
footer a:focus {
  color: var(--lavender);
}
