/* By Abdullah As-Sadeed */

html {
  margin: 0;
  padding: 0;
}

body {
  background-color: #d8efdb;
  color: #000000;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.625;
  margin: 0;
  padding: 0;
  text-align: center;
}

a {
  color: rgb(0, 201, 191);
  font-weight: 500;
}

a:hover {
  color: #00e1d4;
}

h1 {
  background-color: #00c9bf;
  color: #fff;
  font-size: 3em;
  font-weight: 500;
  margin-top: 0;
  padding: 20px;
}

h3 {
  font-size: 24px;
  margin: 0;
  padding: 0;
}

h3 small {
  color: #fff;
  font-size: 70%;
  padding-left: 15px;
}

.mounts {
  background-color: white;
  border-radius: 10px;
  display: inline-block;
  margin: 20px 0 20px 0;
  padding: 20px;
  vertical-align: middle;
}

.mounts h3 {
  margin-bottom: 20px;
}

audio,
video {
  border-radius: 10px;
}

.canvas {
  background: transparent;
  border-radius: 10px;
  display: none;
  margin-top: 20px;
  width: 100%;
}

.mount_info_table {
  margin: 20px 0;
  text-align: left;
}

.mount_info_table tr td {
  padding-bottom: 5px;
}

.link_list {
  display: flex;
  flex-direction: row;
}

.link_list span {
  display: inline-block;
  flex: 1;
}

#footer {
  color: #666;
  font-size: small;
  padding: 20px;
}

@media screen and (min-width: 641px) {
  .mounts {
    margin: 20px;
  }
}
